---
#layout: layouts/base.njk
templateClass: tmpl-about
---
{% extends "layouts/base.njk" %}

{% set postAuthor = metadata.authors[author] %}

{% block article %}

{{ content | safe }}


<h2>維護者 Maintainer</h2>
<div class="about-items">
{% for key, maintainer in metadata.maintainers %}
    <div class="about-item">
      <img data-deopt="true" loading="lazy" class="about-item__img" src="{{ maintainer.avatarUrl }}" alt="{{ maintainer.name }}">
      <div class="about-item__info">
        <h4 class="about-item__author"><a href="{{maintainer.site}}">{{ maintainer.name }}</a></h4>
        <p class="about-item__intro">{{ maintainer.intro | safe }}</p>
      </div>
    </div>
{% endfor %}
</div>

<h2>專欄作家 Authors</h2>

<div class="about-items">
{% for key, author in metadata.authors %}
    <div class="about-item">
      <img data-deopt="true" loading="lazy" class="about-item__img" src="{{ author.avatarUrl }}" alt="{{ author.name }}">
      <div class="about-item__info">
        <h4 class="about-item__author"><a href="{{author.site}}">{{ author.name }}</a></h4>
        <p class="about-item__intro">{{ author.intro | safe }}</p>
      </div>
    </div>
{% endfor %}
</div>

<h2>創辦人 Founders</h2>
<div class="about-items">
{% for key, founder in metadata.founders %}
    <div class="about-item">
      <img data-deopt="true" loading="lazy" class="about-item__img" src="{{ founder.avatarUrl }}" alt="{{ founder.name }}">
      <div class="about-item__info">
        <h4 class="about-item__author"><a href="{{founder.site}}">{{ founder.name }}</a></h4>
        <p class="about-item__intro">{{ founder.intro | safe }}</p>
      </div>
    </div>
{% endfor %}
</div>



<h2>貢獻者列表 Contributer</h2>

<div class="about-items">
{% for key, author in metadata.contributors %}
    <div class="about-item">
      <img data-deopt="true" loading="lazy" class="about-item__img" src="{{ author.avatarUrl }}" alt="{{ author.name }}">
      <div class="about-item__info">
        <h4 class="about-item__author"><a href="{{author.site}}">{{ author.name }}</a></h4>
        <p class="about-item__intro">{{ author.intro | safe }}</p>
      </div>
    </div>
{% endfor %}
</div>



{% endblock %}

